# Ignore all figures:
Figures/*.png

# Ignore all logs:
Logs/*.html

# Ignore all statistics:
Statistics/*.txt

# Ignore Pychache:
__pycache__

# Jupyter notebook checkpoints:
*.ipynb_checkpoints

DeepMIMO/scenarios
scenarios/
scenarios/I2_28B/*
